name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install GitVersion
      uses: codacy/git-version@2.4.0
      with:
          versionSpec: '5.x'
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Determine Version
      id: gitversion
      uses: codacy/git-version@2.4.0
      with:
          useConfigFile: true
          configFilePath: ./.github/gitversion.yml
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build ApproximateOptimization.sln --configuration release /p:Version=${{ steps.gitversion.outputs.VERSION }} /p:AssemblyVersion=${{ steps.gitversion.outputs.VERSION }} /p:InformationalVersion=${{ steps.gitversion.outputs.VERSION }} --no-restore
    - name: Test
      run: dotnet test --configuration Release /p:Version=${{ steps.gitversion.outputs.VERSION }} --no-build --verbosity normal
    - name: Push generated package to GitHub registry
      run: dotnet nuget push ./package/*.nupkg --source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}